.img-sec {
    display: flex;
    justify-content: center;
}

.sec-styl {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}

body {
    text-align: center;
    background-color: antiquewhite;
}

div {
    margin-top: 15px;
}
